body {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  font-family: "Cantarell", sans-serif;
}

p {
  text-align: center;
  color: #5b6273;
  opacity: 0.8;
  font-family: "Cantarell", sans-serif;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}
.fullForecast {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #424242;
  font-family: "Cantarell", sans-serif;
}

.currentlocation {
  padding: 20px 20px;
  /* background-image: url("/src/raindrops.png");
  background-size: 100%; */
  border-radius: 10px;
  font-family: "Cantarell", sans-serif;
  padding: 30px 20px;
  /* max-width: 500px; */
  margin: 0 auto;
}

.weatherDetails {
  margin: 0 auto;
  color: #424242;
  background-color: #74ebd5;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #aaaaaa;
  max-width: 600px;

  font-family: "Cantarell", sans-serif;
}
.weathertoday {
  list-style: none;
  font-size: 10px;
}
.conversion {
  position: relative;
  font-size: 16px;
  top: -25px;
}

.conversion .active {
  color: #424242;
  cursor: default;
}

.conversion .active:hover {
  text-decoration: none;
}

.today {
  font-size: 30px;
  color: #424242;
}
.date {
  font-size: 15px;
}

.weathertype {
  font-size: 10px;
}

.todayweather {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.country {
  font-size: 50px;
  font-weight: bold;
  color: #424242;
  text-align: center;
  vertical-align: middle;
}
.todaytemp {
  font-size: 40px;
  font-weight: bold;
  color: #424242;
  padding: 5px 5px;
  margin: 10px;
}

.next5days {
  color: #424242;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
  background-color: rgb(159, 172, 230, 0.6);
  border-radius: 20px;
  padding: 5px 5px;
  margin: 10px;
}

.tuesday:hover {
  background: #fff;
  border-radius: 50px;
}

.wednesday :hover {
  background: #fff;
  border-radius: 50px;
}

.thursday :hover {
  background: #fff;
  border-radius: 50px;
}

.friday :hover {
  background: #fff;
  border-radius: 50px;
}

.saturday :hover {
  background: #fff;
  border-radius: 50px;
}
